<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="./stylesheets/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="./stylesheets/loginStyle.css" />
	<!-- Bootstrp Css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="form-v9">

  <!-- navigation manu -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

    <a class="navbar-brand" href="/">
      <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top rounded" alt="Logo" loading="lazy">
      <b>Ontest Reminder</b>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " id="navbarSupportedContent">

    <ul class="navbar-nav ">
		<li class="d-flot flot-right mr-2">
			<a href="/login" type="button" class="btn btn-dark">Login</a>
		</li>
		<li class="d-flot flot-right mr-2">
			<a 
		href="/register"	type="button" class="btn btn-dark">Register</a>
		</li>
	</ul>

    </div>
  </nav>


	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">

			
			<form class="form-detail" action="/login" method="post">
				<h2> Login </h2>
				<h4 style="text-align: center; color: rgb(238, 255, 5);"><%= msg %></h4>
				<div class="form-row-total" style="justify-content: center;">
					<div class="form-row" style="width: 100%;">
						<input type="text" name="email" id="email" class="input-text" placeholder="Your Email"
							required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                    </div>
				</div>
				<div class="form-row-total" style="justify-content: center;">
					<div class="form-row" style="width: 100%;">
						<input type="password" name="password" id="password" class="input-text"
							placeholder="Your Password" required>
					</div>
				</div>
				<div class="form-row-last " >
					<input type="submit" name="login" class="register" value="login" style="margin-bottom: 20px;">
				</div>
				<div class="form-row-total " style="justify-content: center;">
					<p> if you havn't Account ? <a href="/register" style="color: rgb(221, 240, 54);">Register here</a></p>
				</div>
				
			</form>
			
		</div>
	</div>

	<!-- Bootstarp javascript and jquary -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>