<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- fontawesome icon script -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>

    <!-- navigation manu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a class="navbar-brand" href="/">
            <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top rounded" alt=""
                loading="lazy">
            <b>Ontest Reminder</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link font ml-2" href="/"><span style='font-size:15px;color: white;'>&#128220;</span><b></b> <b>CList</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font ml-2" href="/profile"><i class='fas fa-user-alt mr-1 my-auto' style='font-size:15px'></i><b>Profile</b><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item float-right text-white align-middle mr-3 my-auto text-dark">
                    <i class='fas fa-user-alt mr-1 my-auto' style='font-size:20px'></i>
                    <h6 class="card-title d-inline-block"><%= user %></h6>
                </li>
                <li>
                    <form action="/" method="post">
                        <button type="submit" class="btn btn-outline-success py-1">Logout</button></form>
                </li>
            </ul>

        </div>
    </nav>


    <!-- profile card -->
    <div class="container-fluid m-0 py-2 bg-dark">

        <div class="container-fluid  d-flex justify-content-center mt-0">

            <div class="card mb-3 bg-light " style="width: 70rem;">

                <div class="card-header bg-success text-white text-center border border-dark mb-2"><b>Your Profile</b>
                </div>

                <img src="https://media.giphy.com/media/xThuWgCXXixhqFK0yA/giphy.gif" class="card-img-top" alt="Loading...">

                <div class="card-body mb-0">
                    <div class="div">
                        <i class='fas fa-user-alt mr-1' style='font-size:20px'></i>
                        <h6 class="card-title d-inline-block"><%= user %></h6>
                    </div>
                    <div class="div">
                        <i class='fas fa-envelope-open mr-1' style='font-size:20px'></i>
                        <h6 class="card-title d-inline-block"><%= email %></h6>
                    </div>
                </div>

                <hr>
                <form action="/profile" method="post">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item mx-5 border">
                            <% if (data.codechef == true){ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="codechef"
                                    id='codechef' checked>
                                <label class="custom-control-label" for="codechef">codechef</label>
                            </div>
                            <% }else{ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="codechef"
                                    id='codechef'>
                                <label class="custom-control-label" for="codechef">codechef</label>
                            </div>
                            <% }%>

                            <% if (data.codeforces == true){ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="codeforces"
                                    id='codeforces' checked>
                                <label class="custom-control-label" for="codeforces">codeforces</label>
                            </div>
                            <% }else{ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="codeforces"
                                    id='codeforces'>
                                <label class="custom-control-label" for="codeforces">codeforces</label>
                            </div>
                            <% }%>

                            <% if (data.spoj == true){ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="spoj"
                                    id='spoj' checked>
                                <label class="custom-control-label" for="spoj">spoj</label>
                            </div>
                            <% }else{ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="spoj"
                                    id='spoj'>
                                <label class="custom-control-label" for="spoj">spoj</label>
                            </div>
                            <% }%>

                            <% if (data.hackerearth == true){ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="hackerearth"
                                    id='hackerearth' checked>
                                <label class="custom-control-label" for="hackerearth">hackerearth</label>
                            </div>
                            <% }else{ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="hackerearth"
                                    id='hackerearth'>
                                <label class="custom-control-label" for="hackerearth">hackerearth</label>
                            </div>
                            <% }%>
                            <% if (data.hackerrank == true){ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="hackerrank"
                                    id='hackerrank' checked>
                                <label class="custom-control-label" for="hackerrank">hackerrank</label>
                            </div>
                            <% }else{ %>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="contest" class="custom-control-input" value="hackerrank"
                                    id='hackerrank'>
                                <label class="custom-control-label" for="hackerrank">hackerrank</label>
                            </div>
                            <% }%>
                        </li>
                    </ul>

                    <div class="card-body">
                        <button type="submit" class="btn btn-outline-success btn-block"><b>Update</b></button>
                    </div>

                </form>

                <div class="form-row-total d-flex justify-content-center">
					<p>  <a href="/" style="color: rgb(36, 40, 41);text-decoration: underline;"><span style='font-size:25px;'>&#128220;</span><b> View Contest List</b></a></p>
				</div>
            </div>
        </div>

    </div>

    <!-- bootstrap javaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
